*{
    padding: 0px;
    margin: 0px;
}
.second-h{
    text-align: center;
    position: relative;
    top: 12px;
    
}
#logo{
    margin:10px 23px;
}

#logo img{
    height: 50px;
    border-radius: 25px;
}


#navbar{
     position: relative;
}


#navbar li{
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Baloo Thambi 2', cursive;
    
}
#navbar li a{
    display: block;
    padding: 0px 22px;
    text-decoration: none;
    color: white;
    
    
}
#navbar li a:hover{
    
    color: black;
    background-color: white;
    border-radius: 8px;
    
    
}

#navbar ul{
    
    display: flex;
   
    
}
#navbar{
    display: flex;
    align-items: center;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    
    
}


#home{
    display: flex;
    flex-direction: column;
    
    padding: 83px 0px;
    text-align: center;
    justify-content: center;
    font-family: 'Baloo Thambi 2', cursive;
    

}

#home::before{
    content: "";
    background: url("harry.jpg") no-repeat center center/cover ;
    
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    }
    #home p{
        position: relative;
        top: 30px;
    }

.primary-h{
    font-size: 3rem;
    color: white;
    text-align: center;
    position: relative;
    top: 30px;
}
.primary{
    color: black;
    font-size: 3rem;
    text-align: center;
    position: relative;
    top: 191px;
    
}

#home p{
   font-size: 1.3rem;
   color: white;
   
}
.btn
{
    width: 129px;
    position: relative;
    left: 620px;
    top: 60px;
    font-size: 1.5rem;
    font-family: 'Baloo Thambi 2', cursive;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 2s;
    border-radius: 8px;
    
}
.btn:hover
{
    background-color: rgb(45, 28, 28);
    color: blanchedalmond;
    border-radius: 8px;
}

#service{
    
    display: flex;
}
#service .box{
    border: 2px solid brown;
    width: 37%;
    height: 316px;
    position: relative;
    top: 213px;
    padding: 10px;
    margin: 4px;
    border-radius: 31px;
    background-color: rgb(246, 212, 212);
    font-family: 'Baloo Thambi 2', cursive;

    
  
}
#service .box img{
    height: 45%;
    display: block;
    margin: auto;
    width: 40%;
}
.secondary-h{
    text-align: center;
}

#service-container .primary-h center{
    text-align: center;
}

/* Client Section */

#client-section{
   
    position: relative;
    top: 257px;
}
#client-section::before{
    content: "";
    background: url(../anmol.jpg) no-repeat center center/cover;
    position: absolute;
    
    height: 47%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    
}

.client-heading{
    top: 5px;
    color: black;
    font-size: 3rem;
    text-align: center;
    position: relative;

}

.client-items img{
    
    position: relative;
    top: 17px;
    text-align: center;
    display: block;
    margin: auto;
    height: 112px;
    right: 130px;


}
.client1-items img{
    
    position: relative;
    top: -96px;
    display: block;
    margin: auto;
    height: 112px;
    left: -16px;
}



.client2-items img{
    
    left: -256px;
    position: relative;
    top: -207px;
    display: block;
    margin: auto;
    height: 112px;
}

.client3-items img{
    
    position: relative;
    top: -319px;
    display: block;
    left: 192px;
    margin: auto;
    height: 112px;
}

#client-section img{
    display: flex;
}
    
